annotated-types==0.7.0
anyio==4.7.0
-e git+ssh://git@github.com/krishanheredia97/CAPI.git@936aa780c053ffa0e71a2fc0a4b295d717ec5eb9#egg=capi
certifi==2024.12.14
chardet==5.2.0
click==8.1.7
colorama==0.4.6
distro==1.9.0
-e git+https://github.com/krishanheredia97/ai-cli.git@34b7c0e1feedcac82267f58cd37a2a2aa715a144#egg=gw
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
jiter==0.8.2
jsonpath-ng==1.7.0
loguru==0.7.2
openai==1.59.3
platformdirs==4.3.6
ply==3.11
prompt_toolkit==3.0.48
pydantic==2.10.4
pydantic_core==2.27.2
pyperclip==1.9.0
python-dotenv==1.0.1
setuptools==75.3.0
sniffio==1.3.1
termcolor==2.5.0
tqdm==4.67.1
typing_extensions==4.12.2
wcwidth==0.2.13
win32-setctime==1.1.0